.my {
background:none;
}

.one {
  -webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
}

.two {
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
}

.three {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
}

.four {
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
}
